//
// Cms forms
// --------------------------------------------------
.form-control {
  height: 2em;
  max-width: 90%;
  padding: 0% 4%;
  margin: 2% 2%;
  font-style: italic;
  border-top: @input-border;
  border-right: @input-border;
  border-bottom: @input-border;
  border-left: @input-border-left;
  box-shadow: none;
  border-radius: @border-radius-small;
  .transition(border-color ease-in-out .25s);
}

.form-control-focus {
  font-style: normal;
  box-shadow: none;
  max-width: 90%;
}
textarea{
  height: @line-height-base*6;
}


